@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


:root {
  --background: 18 18 18;
  --foreground: 255 255 255;
  --card: 36 36 36;
  --card-foreground: 255 255 255;
  --popover: 18 18 18;
  --popover-foreground: 255 255 255;
  --primary: 34 179 87;
  --primary-foreground: 255 255 255;
  --secondary: 26 143 69;
  --secondary-foreground: 255 255 255;
  --muted: 36 36 36;
  --muted-foreground: 166 173 186;
  --accent: 34 179 87;
  --accent-foreground: 255 255 255;
  --destructive: 239 68 68;
  --destructive-foreground: 255 255 255;
  --border: 36 36 36;
  --input: 36 36 36;
  --ring: 34 179 87;
}

body {
  @apply bg-background text-foreground;
}

.text-stroke-green {
  -webkit-text-stroke: 2px #22B357; /* Green text stroke */
  text-stroke: 2px #22B357; /* Green text stroke */
}

.glow-shadow {
  background: radial-gradient(circle at right, rgba(34, 179, 87, 0.3) 0%, rgba(0, 0, 0, 0) 70%);
  filter: blur(30px);
  opacity: 0.7;
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    opacity: 0.5;
    transform: translateX(5%) scale(0.95);
  }
  100% {
    opacity: 0.7;
    transform: translateX(0%) scale(1.05);
  }
}
